body {
    background-image: url("http://www.backsplashtilesandmore.com/images/turkish-tile/Turkish-29-VLT.jpg");
    }
  
    div {
      position: fixed; /* or absolute */
      left: 25%;
      width: 500px;
      border: 25px solid rgb(116, 149, 221);
      padding: 25px;
      margin: 50px;
      color: rgb(201, 73, 34);
      background-color: rgb(204, 255, 255);
      text-align: center;
  }
  
  h1 {
    color: rgb(39, 46, 102);
  }
  
  button {
    border-radius: 50%;
    margin-top: 50px;
    width: 100px;
    padding: 32px 16px;
    color: whitesmoke;
    background-color:  rgb(39, 46, 102);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: rgb(223, 170, 135); 
    color: white;
  }
  