body {
    background-image: url("https://imagesvc.timeincapp.com/v3/mm/image?url=http%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F1497990466%2F1706w-Getty-Honeybees-Achim%2520Schuelke-EyeEm.jpg%3Fitok%3DGmOVYhyC&w=800&q=85");
    }
  
    div {
      position: fixed; /* or absolute */
      left: 30%;
      width: 300px;
      border: 25px solid gold;
      padding: 25px;
      margin: 25px;
      color: rgb(255, 179, 102);
      background-color: rgb(204, 255, 255);
      text-align: center;
  }
  
  h1{
    color: black;
  }
  
  .controls {
    margin-top: 50px;
    padding: 50px 0 0 5px;
    width: 345px;
  }
  